<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>


</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />


<form class="text-center border border-light p-5" action="/form" method="post">
	<input type='text' name='firstName' id='firstName' class='form-control' />
	<input type='submit' name='submit' id ='submit' class='form-control'  value='Submit'/>
</form>





<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->


</body>
</html>