<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	
    <title>Finding first repeated character</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

</head>
<body class="p-5">
<div class="container">
	<form class="text-center border border-light p-5" action="/form" method="post">
   		 <input class="form-control mb-3"  required="true"
           type="text"
           th:name="content"
           th:id="content"
           th:value="${form} ? ${form.content} : ''"/>		

		<input type='submit' name='submit' id ='submit' class='btn btn-primary btn-block' value='Find first repeated letter'/>
		<div th:if="${form}">
	       <p class="h3 mt-3" th:text=" ${form.repeatedChar}"></p>
	    </div>	
	</form>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->


</body>
</html>